@import 'default.scss';

.section-Wrapper{
    position: relative;
    .section-container{
        // background-color: #ffffff;
        // border: 1px solid black;
        height: auto;
        width: auto;
        text-align: center;
        padding: 5rem 12rem;
        position: relative;
        margin: 0rem;
    }    
    .section-container.intro-adj{
        padding: 10rem 10rem;
    }
    .section-container.about-adj{
        text-align: left;
        padding-top: 10rem;
    }
    .exp-background{
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-color: aliceblue;
        border-bottom: 1px solid black;

    }
    
}